<% if logged_in? %>
	<% content_for :title do %>
 		Pakuta
	<% end %>
	<%= render "layouts/header" %>
	<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= render 'layouts/upload_form' %>
	<%= render :partial => 'layouts/post', :locals => {:user => @user} %>
<% else %>
	<% content_for :title do %>
 		Pakuta | Login
	<% end %>
	<% flash.each do |message_type, message| %>
    	<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
	<%= render :partial => 'layouts/login'%>
<% end %>
