<div id="header" class="top-menu tm-fixonscroll tm-fixed">
   <header class="shadow-down">
      <div class="container">
         <div class="row">
            <div class="col-md-4 tm-logo">
               <a href="/"><h1>Pakuta</h1></a>
               
            </div>
            <div class="col-md-4 tm-menu">
               <div class="comment-form">
                  <%= form_tag({:controller => "search", :action => "search"},{:method=>"get",:class => "contact-form"}) do %>
                     <div class="form-group">
                       <%= text_field_tag(:tag , nil, :placeholder => "Search", :class =>"form-control", :required => true ) %>
                     </div>
                  <% end %>
               </div>
            </div>
            <div class="col-md-4 tm-menu">
               <nav>
                  <ul class="top-main-menu mtmenu">
                     <% if logged_in? %>
                        <li><%=link_to current_user.name,controller: 'users', action: 'show' , name:current_user.name%></li>
                        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                     <% else %>
                        <li><%=link_to "Login", login_path%></li>
                        <li><%=link_to "Signup", signup_path%></li>
                     <% end %>
                  </ul> <!-- top-main-menu -->
               </nav>
            </div>
         </div> <!-- row -->
      </div> <!-- container -->
   </header>
</div> <!-- header -->
