<div class="section-group pakuta">
	<%= image_tag("subscribe.jpg", :alt => "Pakuta", :class=>"background") %>
	<div class="section">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 id="slogan">Take a Coffee and Pakuta</h1>
					</div>
					<div class="col-md-6">
						
						<%= form_for(:session, url: login_path) do |f| %>
						<div class="form-group">
						<%= f.label :email %>						
						<%= f.email_field :email, :value =>"", :placeholder => "You are Pakuta!!! dont hide",:class =>"form-control"%>
						</div>
						<div class="form-group">
						<%= f.label :password %>
						<%= f.password_field :password,:class =>"form-control" %>
						</div>
						<%= f.submit "Let's Pakuta !", class: "btn btn-primary dedo-btn" %>
						<% end %>
						<p>Want to be a pakuta ? <%= link_to "Register!", signup_path %></p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>