<div class="section-group pakuta">
	<%= image_tag("subscribe.jpg", :alt => "Pakuta", :class=>"background") %>
	<div class="section">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-6 slogan">
						<h1 id="slogan">Take a boat and <span>Pakuta</span></h1>
						<p>Pakuta is the best place where you post to moan, cry or show off...</p>
					</div>
					<div class="col-md-6 form-content">
						
						<%= form_for(:session, :url => login_path,:html => {:class => 'login_form'} ) do |f| %>
						<div class="form-group">
						<%= f.label :email %>						
						<%= f.email_field :email, :value =>"", :placeholder => "You are Pakuta!!! dont hide",:class =>"form-control"%>
						</div>
						<div class="form-group">
						<%= f.label :password %>
						<%= f.password_field :password,:value=>"",:placeholder => "Your password",:class =>"form-control" %>
						</div>
						<div class="form-group">
						<%= f.label :remember_me do %>
  						<%= f.check_box :remember_me %>
  							<span>Stay with Pakuta for over a decade</span>
  						<%end%>
  						</div>
						<%= f.submit "Let's Pakuta !", class: "btn btn-primary dedo-btn" %>
						<% end %>
						<p>Want to be a pakuta ? <%= link_to "Register!", signup_path %></p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>