<% user.posts(user.id).each do |p| %>
  <div class="section single-work st-invert">
   <section>
   <div class="container container-800">
         <article>
             <div class="owner">
                     <figure>
                        <%= image_tag(user.avatar_url, :alt => user.name) %>
                     </figure>
                       <%= link_to p.poster(p.user_id).name, controller: 'users', action: 'show' , name:p.poster(p.user_id).name %>
                     <p class="time"><%=timestamp p.created_at%></p>                              
             </div>
            <figure class="image-fit">
                     <%= image_tag(p.img_url, :alt => user.name) %>
            </figure>
            <div class="row sw-description">
               <div class="col-md-12">
                  <p><%=caption(p.caption)%></p>

                  <div class="mb-social">
                     <h6>SHARE</h6> 
                     <a href="#"><i class="fa fa-twitter"></i></a>
                     <a href="#"><i class="fa fa-facebook"></i></a>
                     <a href="#"><i class="fa fa-google-plus"></i></a>
                     <a href="#"><i class="fa fa-instagram"></i></a>
                     <a href="#"><i class="fa fa-pinterest"></i></a>
                     <a href="#"><i class="fa fa-tumblr"></i></a>
                  </div>

               </div>
            </div>
         </article>
      </div>
   </section>
</div> <!-- section -->
<%= render :partial => 'comment/comment', :locals => {:p => p } %>
<%end%>