<div class="section single-work st-invert upload-form-invert">
	<section>
		<div class="container container-800 upload-form">
					<div class="owner">
                     	<figure>
                       		 <%= image_tag(current_user.avatar_url, :alt => current_user.name) %>
                     	</figure>
                             <%= link_to current_user.name, controller: 'users', action: 'show' , name:current_user.name %>                      
             			</div>
				<div class ="row row-form">
				<div class="col-md-12">

				<%= form_tag(upload_path, method: "post", multipart: true) do %>
				<div class="form-group">
					<%= text_area_tag(:caption,nil, :placeholder => "Write something shocked to get more views...", :class =>"form-control") %>
				</div>
				<div class="form-group">
					<%=file_field_tag :img_url, accept: 'image/png,image/gif,image/jpeg' %>
				</div>
				<%= submit_tag("Post", :class =>"btn btn-primary dedo-btn" ) %>
				<% end %>
			</div>
			</div>
		</div>
	</section>

</div>